<header>
  <h1>Images Gallery</h1>
</header>

<div class="row">
  <div class="column">
    <img src="../../assets/beautifulleaf.png" alt="">
    <img src="../../assets/book.png" alt="">
    <img src="../../assets/freedom.png" alt="">
    <img src="../../assets/nature.png" alt="">
    <img src="../../assets/panda.png" alt="">
    <img src="../../assets/tajmahel.png" alt="">
  </div>
  <div class="column">
    <img src="../../assets/nature1.png" alt="">
    <img src="../../assets/bird.jfif" alt="">
    <img src="../../assets/camera.jfif" alt="">
    <img src="../../assets/flower.jfif" alt="">
    <img src="../../assets/nature2.jfif" alt="">
    <img src="../../assets/sun.jfif" alt="">
    <img src="../../assets/beautifulleaf.png" alt="">
  </div>
  <div class="column">
    <img src="../../assets/beautifulleaf.png" alt="">
    <img src="../../assets/book.png" alt="">
    <img src="../../assets/freedom.png" alt="">
    <img src="../../assets/nature.png" alt="">
    <img src="../../assets/panda.png" alt="">
    <img src="../../assets/tajmahel.png" alt="">
  </div>
  <div class="column">
    <img src="../../assets/nature1.png" alt="">
    <img src="../../assets/bird.jfif" alt="">
    <img src="../../assets/camera.jfif" alt="">
    <img src="../../assets/flower.jfif" alt="">
    <img src="../../assets/nature2.jfif" alt="">
    <img src="../../assets/sun.jfif" alt="">
    <img src="../../assets/beautifulleaf.png" alt="">

  </div>
</div>
