<main style="margin: 0 10px;">
  <!-- article tag -->
  <section>
    <h1>Article tag</h1>
    <article class="News">
      <h1>Now, Kerala Govt Can Accept or Reject Lok Ayukta Declaration, Says Ordinance</h1>
      <p>The Governor, CM or the state government would be the competent authority and he or it may either accept or reject the declaration, after giving an opportunity of being heard, according to the ordinance.</p>
    </article>
  </section>
  <br>
  <!-- horizontal menu -->
  <section>
    <h1>Horizontal Menu</h1>
    <ul class="unorder">
      <li><a href="#home">Home</a></li>
      <li><a href="#aboutus">About Us</a></li>
      <li><a href="#contactus">Contact Us</a></li>
    </ul>
  </section>
  <br>
  <!-- nav tag , anchor tag -->
  <section>
    <h1>Nav tag and Anchor tag</h1>
    <div>
      <nav class="nav" aria-label="navbar">
        <a href="#home">Home</a> |
        <a href="#aboutus">About Us</a> |
        <a href="#Contactus">Contact Us</a>
      </nav>
    </div>
  </section>
  <br>
</main>
