<main style="margin: 10px 20px;">
  <h2>address tag</h2>
  <address>
    Inkal Panchal <br>
    @InkalPanchal <br>
    inkalpanchal@gmail.com
  </address>

  <h2>cite tag</h2>
  The <cite>Dr.R.S.Patel</cite> said,"I have a <s>dream</s>"

  <h2>dl and dt tag</h2>
  <dl>
    <dt>AAA BBB</dt>
    <dd>XYZ CCC</dd>
    <dt>ABC DDD</dt>
    <dd>VVV FFF</dd>
  </dl>

  <h2>em and i tag</h2>

  This is <em>emphasis</em> tag.
  This is <i>italic</i> tag.

  <h2>hr tag</h2>
  <hr>

  <h2>strong ang b tag</h2>
  Lorem <strong>strong tag</strong> adipisicing elit.
  Lorem <b>b tag</b> ipsum dolor sit amet.
</main>
