.education{
    padding: 130px 70px;
    background-color: #f5ede4;
}
h2{
    color: #945b44;
    text-decoration: underline;
}
.clg-school{
    color:#4a3d2e;
}
.qualify {
    color: #7a6954;
}
h6{
    color: #a38f77;
    margin-bottom:20px;
}
span{
    float: right;
      color:#4a3d2e;
}
