<div class="education vh-100 text-start">
  <h2 class="mb-4">EDUCATION</h2>
  <span><small>July 2018-present</small></span>
  <h4 class="clg-school"> Sardar Vallabhbhai Patel Institute of Technology, Vasad</h4>
  <h4 class="qualify">B.E. Computer Engineering</h4>
  <h6>CGPA: 8.83</h6>

  <span><small>June 2016-April 2018</small></span>
  <h4 class="clg-school"> Shri Sansthan High School, Dakor</h4>
  <h4 class="qualify"> H.S.C</h4>
  <h6>Percentage: 76.92%</h6>

  <span><small>June 2014-April 2016</small></span>
  <h4 class="clg-school"> Shri Sansthan High School, Dakor</h4>
  <h4 class="qualify"> S.S.C</h4>
  <h6>Percentage: 89%</h6>
</div>
