<main style="margin: 10px 30px;">
  <article>
    //Article tag
    <h1>The Matrix</h1>

    //Section tag
    <section>
      <h2>The Story</h2>
      <p>A man discovers...</p>
      <p> Mark tag used in:<mark>When used in the main prose of a document, it indicates a part of the document that has been highlighted due to its likely relevance to the user's current activity."</mark> </p>
    </section>

    <section>
      <h2>The Philosophy</h2>
      <p>The underlying theory of The Matrix is...</p>
    </section>
  </article>

  <time datetime="2022-01-09 T 13:30-05:00">6:17 pm on February 9, 2022</time>
</main>
