<main style="margin: 10px 30px;">
  <h2>Overflow property: visible, hidden, scroll, auto</h2>
  <div class="visible">
    <h4>Visible property</h4>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem consequatur, velit voluptatibus qui aperiam ipsam labore sed repudiandae beatae facere quisquam tenetur? Magnam, exercitationem. Explicabo consequuntur provident quaerat qui eum?
  </div>

  <div class="hidden">
    <h4>Hidden property</h4>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nostrum consequatur porro esse similique exercitationem quo corrupti, laboriosam impedit soluta praesentium commodi enim pariatur! Quas porro ipsa beatae nemo nostrum?Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Obcaecati suscipit ratione assumenda unde consectetur corrupti doloremque fuga ipsa id, consequatur, sunt delectus velit numquam voluptatum. Voluptas alias facilis eveniet expedita!
  </div>

  <div class="scroll">
    <h4>Scroll property</h4>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus perferendis deserunt fugit explicabo ea reprehenderit ducimus laborum? Eligendi numquam architecto soluta ducimus qui debitis sunt quae, placeat adipisci natus.
  </div>

  <div class="auto">
    <h4>Auto property</h4>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus perferendis deserunt fugit explicabo ea reprehenderit ducimus laborum? Eligendi numquam architecto soluta ducimus qui debitis sunt quae, placeat adipisci natus. Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Ex, in quas! Vel sequi, perferendis reiciendis voluptates architecto error natus fugiat? Amet hic mollitia minima fugit rerum quibusdam odit enim atque.

  </div>
</main>
