<main class="" style="margin: 10px 60px">
  <!-- HR manager -->
  <section>
    <h1>Unordered List</h1>
    <ul>
      <li>.Net</li>
      <li>Android</li>
      <li>PHP</li>
      <li>QA</li>
    </ul>
    <h1>Ordered list</h1>
    <ol>
      <li>.Net</li>
      <ul>
        <li style="list-style-type: circle;">AAA</li>
        <li>BBB</li>
        <li>CCC</li>
      </ul>
      <li>Android</li>
      <ul>
        <li>AA</li>
        <li>BB</li>
        <li>CC</li>
      </ul>
      <li>PHP</li>
      <ul>
        <li>AB</li>
        <li>CD</li>
        <li>BA</li>
      </ul>
      <li>QA</li>
      <ul>
        <li>YY</li>
        <li>ZZ</li>
        <li>WW</li>
      </ul>
    </ol>
  </section>

</main>
