<main style="margin: 10px 30px;">
  <h1 class="heading">Media Queries with breakpoints</h1>
  <p class="para">Background of paragraph will be changed according to the window's size.</p>
  <p class="para1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio suscipit quia obcaecati! Expedita perspiciatis dicta, quam neque molestiae ipsum? Animi odio voluptatem aut, ullam explicabo id quam illum minima maxime?</p>
  <p class="para2">Screen size changes, font size changes.</p>
</main>
