<div class="experience">
  <h2 class="mb-3">Experience</h2>
  <span>February 2022 - Present</span>
  <h3>Trainee Software Engineer</h3>
  <h4>RADIXWEB</h4>
  <p>Getting the training of .net technology. Developing different websites using HTML and CSS learning about PHP, Node.js, React and .Net.</p>
  <br><br>

  <h3>Intern Web Developer</h3>
  <span>May 2021 - June 2021</span>
  <h4>VERZEO</h4>
  <p>Got the training of web delopment tools HTML, CSS, BOOTSTRAP, JAVASCRIPT. And created one module.</p>
</div>
