<div class="project">
  <h2 class="mb-4">Projects</h2>
  <h3>Online Bus Pass Management System</h3>
  <p>This system is a web application for students to get bus passes and renew it through online. So that ,they don't need to go at bus station in rainy season.</p>

  <h3>Human Skin-tone Detection</h3>
  <p>SkinTone is an ML-Web Based online skin tone portal to detect the skin tone (i.e., Fair, Mild, or Dark) from a human face image. It provides the user about the information about their skin tone if they have a problem in knowing it. So here we are to help you out in finding your skin tone! With our web portal you all will be able to use it anywhere and anytime.</p>
</div>
