<div class="sidebar">
  <ul style="list-style-type: none;">
    <li>DAY1
      <ul>
        <li>Module 1
          <ul style="list-style-type: disc;">
            <li>Assignment
              <ul>
                <li><a [routerLink]="['/html/h1a1']">Assignment 1</a></li>
              </ul>
            </li>
            <li>Practice
              <ul>
                <li><a [routerLink]="['/html/h1e1']">Exercise1</a></li>
                <li><a [routerLink]="['/html/h1e2']">Exercise2</a></li>
                <li><a [routerLink]="['/html/h1e3']">Exercise3</a></li>
                <li><a [routerLink]="['/html/h1e4']">Exercise4</a></li>
                <li><a [routerLink]="['/html/h1e5']">Exercise5</a></li>
                <li><a [routerLink]="['/html/h1e6']">Exercise6</a></li>
                <li><a [routerLink]="['/html/h1e7']">Exercise7</a></li>
                <li><a [routerLink]="['/html/h1e8']">Exercise8</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>DAY2
      <ul>
        <li>Module 2
          <ul style="list-style-type: disc;">
            <li>Assignment
              <ul>
                <li><a [routerLink]="['/html/h2a1']">Resume</a></li>
              </ul>
            </li>
            <li>Practice
              <ul>
                <li><a [routerLink]="['/html/h2e1']">Exercise 1</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</div>
