<main style="margin: 10px ;">
      <!-- title -->
     <section>

      <div class="title">
        <img src="../../assets/inkal1.jpg" alt="image" style="width: 130px; height: 140px;">
        <h1>Inkal Panchal</h1>
        <h3>Software Engineer</h3>
        <p>I am an enthusiastic and driven Engineering graduate with Bachelor degree of Computer Engineering from the SVIT,Vasad. I am currently looking to secure a position to utilize my skills and knowledge.
        </p>
      </div>

    </section>
    <br>
     <hr>
    <section>
      <div class="contact">
        <nav aria-label="navbar">
          <ul  class="alignment" style="list-style-type: none; text-align: center;">
            <li style="display: inline; padding: 0 5px;">panchalinkal15@gmail.com</li>
            <li style="display: inline; padding: 0 5px;">6354986381</li>
            <li style="display: inline; padding: 0 5px;">Dakor, India</li>
          </ul>
        </nav>
      </div>
    </section>
    <hr>
    <!--education section  -->
    <section>
      <!-- education div -->
      <div class="education">
        <h2>EDUCATION</h2>
        <ul style="list-style-type: disc;" class="edu">
          <li><h3>Computer Engineering</h3></li>
          <h4>Sardar Vallabhbhai Patel Institute of technology, Vasad </h4>
          <h4 class="grade">CGPA: 8.57</h4>
          <small>07/2018-present</small><br><br>

          <em>Courses</em><br>
            <ul class="course">
              <li>  Data Structure</li>
              <li>  Software Engineering</li>
              <li>  Web Programming</li>
            </ul>
              <ul class="course">

                <li>Java</li>
                <li>C</li>
              </ul>
            <br>

            <li><h3>HSC</h3></li>
              <h4>Shree Sansthan High School, Dakor</h4>
              <h4 class="grade">76%</h4>
              <small>06/2016-04/2018</small><br><br>
            <li><h3>SSC</h3></li>
            <h4>Shree Sansthan High School, Dakor</h4>
              <h4 class="grade">89%</h4>
              <small>06/2014-04/2016</small>
        </ul>
      </div>
      </section>
      <hr>
      <!-- skills,prohect,certificates section -->
      <section>
      <!-- skills div -->
      <div class="skills">
          <h2>SKILLS</h2>
          <div class="skill">
            <h4>HTML, CSS</h4>
            <h4>C language</h4>
            <h4>Data Structure</h4>
          </div>
          <div class="skill">
            <h4>Core JAVA</h4>
            <h4>Basic SQL</h4>
          </div>

      </div>
      <div class="projects">
      <hr>
        <h2>PERSONAL PROJECTS</h2>
        <h4>Online Bus Pass Management System</h4>
        <ul><li>This system is a web application for students to get bus passes and renew it    through online. So that ,they don't need to go at bus station in rainy season
          </li></ul>
      </div>
      <hr>
      <div class="certificates">
        <h2>CERTIFICATES</h2>
        <h4>Web Development Internship Certificate</h4>
        <small class="certi">VERZEO</small>
      </div>
    </section>
    <hr>
    <!-- personal info section -->
    <section>
      <div class="personal">
        <h2>PERSONAL DETAILS</h2>
        <h4>Date of Birth: 15th October, 2000</h4>
        <h4>Marital Status: Single</h4>
      </div>
      <hr>
      <div class="languages">
        <h2>LANGUAGES</h2>
        <h4>English</h4>
        <p> <em>Professional Working Proficiency</em> </p>
        <h4>Gujarati</h4>
        <p> <em>Native or Bilingual Proficiency</em></p>
        <h4>Hindi</h4>
        <p> <em>Full Professional Proñciency</em> </p>
      </div>
      <hr>
      <div class="interests">
        <h2>INTERESTS</h2>
        <div class="interest">
          <h4>Drawing</h4>
        <h4>Music</h4>
        <h4>Rubik's cube</h4>
        </div>
        <div class="interest">
          <h4>Travel</h4>
          <h4>Coding</h4>
        </div>
      </div>
    </section>
    </main>
