input[type=range] ::after{
    content:attr(max) ;
}
input[type=range] ::before{
    content: attr(min);
}
input[type=range]{
    width: 200px;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}
/* fieldset.form{
    width: 50%;
} */
