<div class="sidebar h-100">
  <ul style="list-style-type: none;">
    <li>DAY1
      <ul>
        <li>Module 1
          <ul style="list-style-type: disc;">
            <li>Assignment
              <ul>
                <li><a [routerLink]="['/css/c1a1']">Resume</a></li>
              </ul>
            </li>
            <li>Practice
              <ul>
                <li><a [routerLink]="['/css/c1e1']">Exercise1</a></li>
                <li><a [routerLink]="['/css/c1e2']">Exercise2</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Module 2
          <ul style="list-style-type: disc;">
            <li>Assignment
              <ul>
                <li><a [routerLink]="['/css/c2a1']">Assignment 1</a></li>
              </ul>
            </li>
            <li>Practice
              <ul>
                <li><a [routerLink]="['/css/c2e1']">Exercise1</a></li>
                <li><a [routerLink]="['/css/c2e2']">Exercise2</a></li>
                <li><a [routerLink]="['/css/c2e3']">Exercise3</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>DAY2
      <ul>
        <li>Module 3
          <ul style="list-style-type: disc;">
            <li>Assignment
              <ul>
                <li><a [routerLink]="['/css/c3a1']">Assignment 1</a></li>
              </ul>
            </li>
            <li>Practice
              <ul>
                <li><a [routerLink]="['/css/c3e1']">Exercise1</a></li>
                <li><a [routerLink]="['/css/c3e2']">Exercise2</a></li>
                <li><a [routerLink]="['/css/c3e3']">Exercise3</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>DAY3
      <ul>
        <li>Module 4
          <ul style="list-style-type: disc;">
            <li>Assignment
              <ul>
                <li><a [routerLink]="['/css/c4a1']">Assignment 1</a></li>
                <li><a [routerLink]="['/css/c4a2']">Assignment 2</a></li>
              </ul>
            </li>
            <li>Practice
              <ul>
                <li><a [routerLink]="['/css/c4e1']">Exercise1</a></li>
                <li><a [routerLink]="['/css/c4e2']">Exercise2</a></li>
                <li><a [routerLink]="['/css/c4e3']">Exercise3</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>DAY4
      <ul style="list-style-type: disc;">
        <li>Practice
          <ul>
            <li><a [routerLink]="['/css/c5e1']">Exercise1</a></li>
          </ul>
        </li>
      </ul>
    </li><br>
    <li>Responsive Resume
      <ul style="list-style-type: disc;">
        <li><a [routerLink]="['/cresume']">Resume</a></li>
      </ul>
    </li>
  </ul>
</div>
