<main class="main">
  <header>
    <h1>Student Report Card</h1>
  </header>

  <section>
    <table border="1">
      <caption>Marksheet</caption>
      <tr>
        <th id="name">Student's Name:</th>
        <td colspan="4">Inkal Rakeshbhai Panchal</td>
      </tr>
      <tr>
        <th id="year">Year of passing</th>
        <th id="no">Roll No</th>
        <th id="std">Standard</th>
        <th id="group">Group</th>
      </tr>
      <tr>
        <td>2018</td>
        <td>04</td>
        <td>12</td>
        <td>A</td>
      </tr>
      <tr><br></tr>
      <tr>
        <th id="subject">Subject Name</th>
        <th id="total">Total Marks</th>
        <th id="marks">Obtained Marks</th>
        <th id="grade">Grade</th>
      </tr>
      <tr>
        <td class="sub">ENGLISH</td>
        <td>100</td>
        <td>84</td>
        <td>A2</td>
      </tr>
      <tr>
        <td class="sub">MATHEMATICS</td>
        <td>100</td>
        <td>81</td>
        <td>A2</td>
      </tr>
      <tr>
        <td class="sub">PHYSICS</td>
        <td>100</td>
        <td>82</td>
        <td>A2</td>
      </tr>
      <tr>
        <td class="sub">CHEMISTRY</td>
        <td>100</td>
        <td>57</td>
        <td>C1</td>
      </tr>
      <tr>
        <td class="sub">COMPUTER</td>
        <td>100</td>
        <td>56</td>
        <td>C1</td>
      </tr>
      <tr>
        <th id="total">Total Marks</th>
        <td>500</td>
        <td><strong>Obtained: </strong>360</td>
        <td><strong>Overall Grade: </strong>B1</td>
      </tr>
    </table>
  </section>
</main>
