.flex-container{
    display:flex;
    border: 2px solid black;
    background-color:powderblue;
    flex-direction: row-reverse;
}

.flex-container div{
    width: 100px;
    border: 1px dotted black;
    line-height: 100px;
    text-align: center;
    background-color: #4d7b8a;
    margin: 10px;
    font-size: large;
    font-weight: bold;

}
