<header>
  <h1>Images Gallery</h1>
</header>

<div class="row">
  <div class="column">
    <img src="../../assets/beautifulleaf.png" style="width:100%" alt="">
    <img src="../../assets/book.png" style="width:100%" alt="">
    <img src="../../assets/freedom.png" style="width:100%" alt="">
    <img src="../../assets/nature.png" style="width:100%" alt="">
    <img src="../../assets/panda.png" style="width:100%" alt="">
    <img src="../../assets/tajmahel.png" style="width:100%" alt="">
  </div>
  <div class="column">
    <img src="../../assets/nature1.png" style="width:100%" alt="">
    <img src="../../assets/bird.jfif" style="width:100%" alt="">
    <img src="../../assets/camera.jfif" style="width:100%" alt="">
    <img src="../../assets/flower.jfif" style="width:100%" alt="">
    <img src="../../assets/nature2.jfif" style="width:100%" alt="">
    <img src="../../assets/sun.jfif" style="width:100%" alt="">
    <img src="../../assets/beautifulleaf.png" style="width: 100%;" alt="">
  </div>
  <div class="column">
    <img src="../../assets/beautifulleaf.png" style="width:100%" alt="">
    <img src="../../assets/book.png" style="width:100%" alt="">
    <img src="../../assets/freedom.png" style="width:100%" alt="">
    <img src="../../assets/nature.png" style="width:100%" alt="">
    <img src="../../assets/panda.png" style="width:100%" alt="">
    <img src="../../assets/tajmahel.png" style="width:100%" alt="">
  </div>
  <div class="column">
    <img src="../../assets/nature1.png" style="width:100%" alt="">
    <img src="../../assets/bird.jfif" style="width:100%" alt="">
    <img src="../../assets/camera.jfif" style="width:100%" alt="">
    <img src="../../assets/flower.jfif" style="width:100%" alt="">
    <img src="../../assets/nature2.jfif" style="width:100%" alt="">
    <img src="../../assets/sun.jfif" style="width:100%" alt="">
    <img src="../../assets/beautifulleaf.png" style="width: 100%;" alt="">

  </div>
</div>
