<main style="margin: 0 10px;">
  <h2>Position property: static, relative, absolute, fixed</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <h3>Here Static and fixed div will remain on its place but relative and absolute can change its place.</h3>
  <div class="static">
    This element has static position.
  </div>
  <div class="relative">
    This is relative position.
  </div>
  <div class="absolute">
    This is absolute position.
  </div>
  <div class="fixed">
    This is fixed position.
  </div>
</main>
