<div class="" style="position:relative; top:90px;">


  <h1 class="text-center bg-dark text-light p-3">Bootstrap Practice</h1>

  <div class=" border border-1 border-dark p-3 py-5 m-2">
    <h1 class="text-center pb-2">Grid System</h1>
    <div class="row">
      <div class="border col-sm-8">col-sm-8</div>
      <div class="border col-sm-4">col-sm-4</div>
      <div class="border col-md-6">col-md-6</div>
      <div class="border col-md-2">col-md-2</div>
      <div class="border col-lg-4">col-lg-4</div>
      <div class="border col-lg-8">col-lg-8</div>
    </div>
    <br>
    <div class=" row">
      <div class="border col-6 col-md-3">col-6 col-md-3</div>
      <div class="border col-6 col-md-3">col-6 col-md-3</div>
      <div class="w-100"></div>
      <div class="border col-6 col-md-3">col-6 col-md-3</div>
      <div class="border col-6 col-md-3">col-6 col-md-3</div>
    </div>
    <br>
    <div class="row">
      <div class="border  col order-last">First Column</div>
      <div class="border col order-first">Second Column</div>
      <div class="border  col order-second">Third Column</div>

    </div>
  </div>
  <br><br>

  <div class="border border-1 border-dark p-3 py-5 m-2">
    <h1 class="text-center pb-2">Container</h1>
    <div class="container border">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore rerum eligendi tempora laborum eveniet esse cumque quo cupiditate a tenetur, enim eius soluta nemo. Laborum modi mollitia nulla aliquam consequatur?
    </div>
    <div class="container-sm border">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore rerum eligendi tempora laborum eveniet esse cumque quo cupiditate a tenetur, enim eius soluta nemo. Laborum modi mollitia nulla aliquam consequatur?
    </div>
    <div class="container-md border">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore rerum eligendi tempora laborum eveniet esse cumque quo cupiditate a tenetur, enim eius soluta nemo. Laborum modi mollitia nulla aliquam consequatur?
    </div>
    <div class="container-lg border">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore rerum eligendi tempora laborum eveniet esse cumque quo cupiditate a tenetur, enim eius soluta nemo. Laborum modi mollitia nulla aliquam consequatur?
    </div>
    <div class="container-xl border">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore rerum eligendi tempora laborum eveniet esse cumque quo cupiditate a tenetur, enim eius soluta nemo. Laborum modi mollitia nulla aliquam consequatur?
    </div>
    <div class="container-xxl border">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore rerum eligendi tempora laborum eveniet esse cumque quo cupiditate a tenetur, enim eius soluta nemo. Laborum modi mollitia nulla aliquam consequatur?
    </div>
    <div class="container-fluid border">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore rerum eligendi tempora laborum eveniet esse cumque quo cupiditate a tenetur, enim eius soluta nemo. Laborum modi mollitia nulla aliquam consequatur?
    </div>
  </div>

  <br>

  <div class="clearfix border border-1 border-dark p-3 py-5 m-2">
    <h1 class="text-center pb-2">Clear-Fix</h1>
    <img src="../../../CSS/DAY3/Module 4/Assignment/Images/camera.jfif" class="col-md-4 float-md-end mb-3 ms-md-3" alt="...">

    <p>
      A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
    </p>

    <p>
      As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible
      information at. It simply takes up space and should not really be read.
    </p>

    <p>
      And yet, here you are, still persevering in reading this placeholder text, hoping for some more insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that here.
    </p>
  </div>

  <!-- alert -->
  <div class="border border-1 border-dark p-3 py-5 m-2">
    <h1 class="text-center pb-2">Alert</h1>
    <div class="alert alert-primary" role="alert">
      This is a primary alert—check it out!
    </div>
    <div class="alert alert-secondary" role="alert">
      This is a secondary alert—check it out!
    </div>
    <div class="alert alert-success" role="alert">
      This is a success alert—check it out!
    </div>

    <!-- link color -->
    <div class="alert alert-primary" role="alert">
      This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-secondary" role="alert">
      This is a secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime obcaecati magnam molestiae ex fuga maiores suscipit, ut praesentium beatae quibusdam?</p>
      <hr>
      <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus harum, eligendi suscipit fugit itaque dignissimos.
      </p>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> You should check in on some of those fields below.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>


  <!-- borders -->
  <div class="border border-1 border-dark p-3 py-5 m-2">
    <h1 class="text-center">Border Utility</h1>
    <span class="border"> border</span>
    <span class="border-top">border-top</span>
    <span class="border-end">border-right</span>
    <span class="border-bottom">border-bottom</span>
    <span class="border-start">border-left</span>
    <div class="border border-0">Div</div>
    <div class="border border-primary">Div</div><br>
    <div class="border border-dark border-2 ">div</div>
  </div>
  <br><br>

  <!-- buttons -->
  <div class="border border-1 border-dark p-3 py-5 m-2">
    <h1 class="text-center pb-2">Button</h1>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>

    <a href="#" class="btn btn-primary" role="button">Link</a>
    <button class="btn btn-secondary" type="submit">Button</button>
    <input class="btn btn-secondary" type="button" value="Input">
    <input class="btn btn-primary" type="submit" value="Submit">
    <input class="btn btn-primary" type="reset" value="Reset">

    <button type="button" class="btn btn-outline-danger btn-lg" disabled>Danger</button>

    <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="on">Toggle button</button>
    <button type="button" class="btn btn-primary active" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Active toggle button</button>
    <button type="button" class="btn btn-primary" disabled data-bs-toggle="button" autocomplete="off">Disabled toggle button</button>
    <div class="w-100">Width-100</div>
    <div class="container-fluid">
      <button class="btn btn-primary">Utilities</button>
    </div>
  </div>
</div>
