<main class="main">
  <p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus placeat dolore incidunt eius doloribus ratione. Repudiandae dolor, fugiat incidunt quasi a suscipit corrupti commodi? Repellendus autem doloribus non officiis
    similique?</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum ea delectus in corrupti ipsam incidunt voluptate minima ad earum suscipit. Suscipit quis nisi modi optio ea vel, nemo aut rerum.</p>

  <h2>City List</h2>
  <ul class="unorder">
    <li>Ahmedabad</li>
    <li>Baroda</li>
    <li>Anand</li>
    <li>Nadiad</li>
    <li>Surat</li>
    <li>Bharuch</li>
  </ul>

  <div class="head">
    <h1>Heading1</h1>
    <h2>Sub Heading</h2>
    <h1>Heading2</h1>
    <h2>Sub heading</h2>
  </div>
</main>
